[Unit]
Description=SonarQube Server
After=network.target

[Service]
User=sonarqube
Nice=1
KillMode=none
SuccessExitStatus=0 1
ProtectHome=true
ProtectSystem=full
PrivateDevices=true
NoNewPrivileges=true
WorkingDirectory=/opt/sonarqube/bin/linux-x86-64
ExecStart=/opt/sonarqube/bin/linux-x86-64/sonar.sh start
ExecStop=/opt/sonarqube/bin/linux-x86-64/sonar.sh stop

[Install]
WantedBy=multi-user.target

